*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url(imagenes/Backgrounds\ Fabric\ Background\ High\ Resolutions\ Room\ Black\ wallpapers.jpg);
    position: relative;
    padding-bottom: 8em;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: rgb(191, 196, 196);
}

h5{
    color: rgb(172, 179, 179); 
}

p{
    color: rgb(172, 179, 179); 
}

.navMargin{
    margin-left: 9%;
    margin-right: 7%;
}

.backgroundNav{
  background-color: rgb(37, 37, 37, 0.5);  
}


.menu{
    font-size: 25px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.enlace:hover{
    transform: scale(1.06);
    transition: all 0.2s ease-in-out;
    animation: brilloTexto 0.9s ease-out;
}

@keyframes brilloTexto{
    0%{
        text-shadow: 0 0 0px rgb(255, 255, 255, 0.5);
    }
    25%{
        text-shadow: 0 0 2px rgb(255, 255, 255, 0.5);
    }
    50%{
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
    }
    75%{
        text-shadow: 0 0 3px rgb(255, 255, 255, 0.4);
    }
    100%{
        text-shadow: 0 0 0px rgb(255, 255, 255, 0.5);
    }   
}

/*cuerpo*/

section{
    color: rgb(188, 190, 192);;
    background-image: url(/Video/Videofondo.webm) ;
    background-color: rgb(73, 73, 73. 0);
}

.divVideo{
    position: fixed;
    opacity: 0.7;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.sectionDiv{
    padding-bottom: 20%;
    padding-top: 10%;
    margin-left: 7.5%;
}

.animate__animated.animate__fadeInUp{
    --animate-duration: 4s;
}

.serviciosBanner{
    text-align: center;
}

.serviciosTexto{
text-align: center;
padding-bottom: 3%;
}

.sectionServicios{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 3%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    
}


.sectionNosotros{
    text-align: center;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 5%;
    display: flex;
    align-items: center;
}

.sectionContacto{
    text-align: center;
}

.sectionProyectos{
    text-align: center;
   margin-top: 3%;
   margin-right: 10%;
   margin-left: 10%;
}

.divProyectos{
    margin-bottom: 4%;
    display: flex;
    justify-content:space-evenly;
}

.contactanos{
    color: rgb(209, 30, 90)
}

.previewVideo:hover{
    transform: scale(1.04);
    transition:all 0.3s ease-out;
}

.fila{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
    align-items: center;
}


/* Pie de pagina */

footer{
    background-color: rgba(41, 39, 39, 0.5);
}


footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.iconosFooter{
    align-items: center;
    display: flex;
    justify-content: center
}

.footerizquierdo{
    align-items: center;
    display: flex;
    justify-content: center
}

.footerTexto{
    margin-top: 6%;
    margin-left: 0%;
    margin-right: 10%;
    align-items: center;
    list-style: none;
    font-size: 12px;
    color: rgb(121, 123, 126);
}

.icono:hover{
    transform:scale(108%);
    transition: all 0.2s;
}

/* media querys*/
@media only screen and (max-width:450px){
  h4,p {
    text-align: center;
  }
  } 

    
