*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    padding-bottom: 8em;
    min-height: 100vh;
    @media only screen and (max-width:768px){
    padding-bottom: 11em;
} 
}
.imagenSombra{
    box-shadow: 3px 6px 10px rgb(0, 0, 0, 0.5);
}

h4,
h1,
p{
@media only screen and (max-width:450px){
      text-align: center;
    }
}